{% extends "base.html" %}

{% block content %}
<h1>Shopping List</h1>
    <form class = "form-items" action="/items" method="post">
     <label for = "name">Item Name</label>
     <input type ="text" name="name" id="name">
     <label for ="price">Price</label>
     <input type ="number" name="price" id="price">
     <label for = "quantity">Quantity</label>
     <input type ="number" name="quantity" id="quantity">
     <label for="bought">Bought</label>
     <input type="checkbox" name="bought" id="bought" value="False">
     <input type="submit" value="Add Item">
    </form>

    <div class="item-container">
        {% for items in items_list %}
        <div class="item">
          <h2>{{ items.name }}</h2>
          <h3>{{ items.price}}</h3>
          <h4>{{items.quantity}}</h4>
         
              {% if items.bought %}
              <p><i>bought </i></p>
              {% endif %}        
        </div>
        {% endfor %}
        </div>
    
    <div class = 'item-list'>
        <p>No of Items: {{items_list| length}}</p>
    </div>

{% endblock %}